
nav{
  width: 100%;
  background-color: rgb(0, 0, 0, .3);
  height: 80px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
}

nav .btn{
  background-color: black;
  color: white;
  height: 35px;
  border-radius: 20px;
  padding: 0 30px;
  font-size: 10px;
  text-transform: uppercase;
  margin: 15px 10px;
  cursor: pointer;
}

/* MAIN SECTION */

main{
  height: calc(100vh - 90px);
}

#content{
  width: 100%;
  margin-top: 100px;
  color: #ffffff;
}

#content .menu{
  width: 100%;
}

#content .menu ul{
  display: flex;
  justify-content: center;
}

#content .menu ul li{
  padding: 0 15px;
}

#content .menu ul li a{
  color: #717171;
  text-transform: uppercase;
  font-size: 13px;
}


#content .covers{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#content .covers .covers-text{
  width: 100%;
  margin: 20px 0;
  font-size: 25px;
  font-weight: bold;
}

#content .covers .playlist{
  width: 190px;
  height: 300px;
}

#content .covers .playlist .playlist-img{
  width: 100%;
}

#content .covers .playlist-img img{
  width: 100%;
}

#content .covers .playlist .playlist-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#content .covers .playlist .playlist-title h4{
  padding: 10px 0;
}


/* CREO COLONNA SX */

aside{
  width: 250px;
  padding: 20px;
  background-color: black;
  display: flex;
  order: -1;
  flex-direction: column;
}

aside a{
  color: #717171;
  font-size: 12px;
}

aside .aside-logo img{
  height: 40px;
}

aside .aside-top{
  padding: 20px 0;
}

aside .aside-top ul li:first-child a{
  color: white;
}

aside .aside-top img{
  height: 20px;
  vertical-align: middle;
  padding-right: 5px;
}

aside .aside-center{
  overflow-y: auto;
}

aside .aside-center ul li{
  padding: 5px 0;
}

/* TASTO + */

#crea-playlist{
  background-color: #c5c5c5;
  color: black;
  font-size: 40px;
  font-weight: 900;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-right: 5px;
}

aside .aside-down img {
  height: 15px;
  margin-right: 5px;
}

aside h5{
  color: white;
  padding-top: 10px;
}

aside .aside-down h5 img{
  background-color: #717171;
  border-radius: 50%;
}

aside .download{
  border-bottom: 1px solid #717171;
  padding: 8px 0;
}


/* FOOTER */

footer{
  height: 90px;
  background-color: #282828;
  justify-content: space-between;
  color: white;
}

footer .footer-left,.footer-right{
  width: 300px;
  display: flex;
  padding: 0 10px;
  align-items: center;
}

footer .footer-left img{
  height: 50%;
  padding-right: 10px;;
}

footer .footer-left .footer-text{
  padding-right: 30px;
  
}

footer .footer-left i{
  padding-right: 10px;
  color: #717171;
  
}

footer .footer-center{
  width: 40%;
}

/* FOOTER CENTER */

footer .footer-center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer .footer-center i{
  margin-right: 25px;
}

footer .footer-center .section-up{
  padding-bottom: 10px;
}

footer .footer-center .bar{
  background-color: #717171;
  height: 3px;
  width: 450px;
}

#border{
  border: 2px solid white;
  border-radius: 50%;
  padding: 3px 6px;
}

footer .footer-center .section-down{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 900;
}

footer .section-down .time-dx,.time-sx{
  padding: 0 30px;
  font-size: 12px;
  font-weight: 500;
}

/* FOOTER RIGHT */

footer .footer-right{
  justify-content: flex-end;
}

footer .footer-right i{
  padding-right: 15px;
}

footer .footer-right .bar{
  background-color: #717171;
  height: 3px;
  width: 120px;
}