.debug{
  background-color: rgba(255, 0, 0, 0.3);
  border: 1px solid black;
}

.flex{
  display: flex;
}

.float-left{
  float: left;
}

.clearfix::after{
  display: table;
  content: '';
  clear: both;
}

.round{
  border-radius: 50%;
}

.overlay{
  background-color: #c7c7c7;
  width: 20%;
  height: 100%;
}

.subtitle{
  font-size: 10px;
  color: #949597;
}

/* Altezze */

.h100{
  height: 100%;
}


/* Larghezze */

.w100{
  width: 100%;
}

/* Bordo */

.border{
  border: 1px solid red;
}